.custom-select, select,   textarea,   input[type="text"],   input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{ font-size: 20px; }

legend {
    margin-bottom: 0;
    margin-top: 16px;
    padding-bottom: 0;
    display:inline-block;
}

.form-control {
    font-size:20px;
}

hr {
    border-top: 1px dashed rgb(202, 158, 158);
    margin-top: 0;
  }

body { padding-top: 70px; }

td {

    word-break:break-all;
    padding-right:0;
    padding-left:0;

}


.pagetitle {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.dropdown-item{
    text-align: center;
    color:white;
}

.banner {
    margin-right: 10px;
    margin-top: 0px;
}
.company-name {
    font-weight:900;
    padding-bottom: 0;
    padding-left: 4px;
}
.company-sub {
    margin-top: -5px;
    padding-top: 0;
    font-size: x-small;
}
