

  .input-group-prepend.numbers {
    width : 45%;
  }

  .input-group-prepend span {
    width: 100%;
    overflow: hidden;
  }

  .upright {

    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .input-required:after {
    content:"*";
    color:red;
  }
