.img-welcome {
    width: 20vw;
    min-height:auto;
    align-self: flex-start;
    
}

.nav-item{
    text-align: center;
}


.apptitle {
    margin-top: 4vw;
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 4vw; 
    font-weight: bold; 
    letter-spacing: 2px; 
    line-height: 1; 
    text-align: left;     
}

 .appsub {
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 3vw; 
    font-weight: bold; 
    letter-spacing: 1px; 
    line-height: 1; 
    text-align: center;     
} 

.buttontext {
    font-weight: normal;
    font-size: 2em;
}

.fasbtn {
    padding-right: 4vw;
    padding-left : 4vw;
}

.btn-primary {
    background-color: #8CD8FF;
    color: #3A2BA9;
    text-align: left;
}

body {
    background-color: #FFFAD5;

}


.glow {
    font-size: 7vw;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }